@keyframes errors {
    from {
        margin-top: -5px;
        opacity: .1;
    }

    to {
        margin-top: 10px;
        opacity: 1;
    }
}



.general {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
}

.content {
    width: 430px;
    min-height: 330px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.information {
    background-image: url("../../assets/information.svg");
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
}

.form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputPlace {
    margin-top: 45px;

    width: inherit;
}

.button {
    margin-top: 55px;
    width: 45%;
    height: 40px;
    align-self: flex-end;

    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;

    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;

    transition: all 0.3s ease;

    outline: none;
    user-select: none;
    cursor: pointer;
}

.button:disabled {
    cursor: default;
    border: 1px solid rgba(0, 0, 0, .3);
    color: rgba(0, 0, 0, .3);
    background-color: transparent;
}

.errorPosition {
    position: relative;
    width: inherit;
}

.commonError {
    display: block;
    position: absolute;
    margin-top: 5px;
    color: #df4b41;
    text-align: left;
    font-size: 14px;
    animation: errors .1s ease-in-out;

    width: 100%;
}
